*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 55vmin;   
    width: 55vmin; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.4);
    font-size: 8vmin;
    background-color: #ffffc7;
}
/* .box:disabled{ b0413e

} */
#ask{
    margin-top: 20px;
}
#btn1{
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    margin: 20px;
    margin-left: 15px;
    background-color: #036510;
}
#btn2{
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    margin: 15px;
    margin-left: 15px;
    background-color: #2a25b6;
    visibility: hidden;
}
span{
    color: rgb(44, 41, 41);
    font-weight: bold;
    font-size: 20px;
    visibility: hidden;
}
input{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    padding: 5px;
    font-weight: bold;
    visibility: hidden;
}
#msg{
    color: #f5f573;
    font-size: 5vmin;
    font-weight: bold;
}